<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="login-modal">
        <h2 class="title">Member Sign In</h2>
        <div class="form">
            <div class="initial">
                <h2>E</h2>
            </div>
            <div class="input">
                <input type="text" placeholder="Email">
            </div>
        </div>
        <div class="form">
            <div class="initial">
                <h2>P</h2>
            </div>
            <div class="input">
                <input type="text" placeholder="Password">
            </div>
        </div>
        <p class="forgot-password"><a href="#">Forgot Password?</a></p>
        <div class="signup">
            <button>Sign In</button>
        </div>
    </div>
</body>
</html>