.spinner{
    margin-top: 25em;
    margin-left: 50em;
    text-align: center;
}

div.details{
    width: 75%;
    height: 500px;
    background-color: white;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
    position: fixed;
    top:5%;
    left: 50%;
    margin-left: -37.5%;
    color: rgb(66, 66, 66);
}
.details .back {
    margin-bottom: 5em;
}
.details .back button{
    background-color: purple;
    color:white;
    border-radius: 5px;
    padding: 5px 15px;
    border: unset;
    cursor: pointer;
}
