<link rel="stylesheet" href="index.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <div class="module">
        <div class="top-nav">
            <nav>
                <div class="brand">
                    <h2>LIBRARY</h2>
                    <div class="user">
                        <img src="avatar.jpg" alt="" >
                        Aziz
                    </div>
                </div>
                <div class="search">
                    <div class="row-one">
                        <div class="form">
                            <input type="text" placeholder="Title">
                        </div>
                        <div class="form">
                            <select name="" id="">
                                <option value="" selected>Session</option>
                            </select>
                        </div>
                        <div class="form">
                            <button type="submit">Search</button>
                        </div>
                    </div>
                    <div class="row-two">
                        <div class="form">
                            <input type="text" placeholder="Title">
                        </div>
                        <div class="form">
                            <select name="" id="">
                                <option selected value="Category">None</option>
                            </select>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="side-nav">
            <div class="group">
                <div class="title">
                    <h5>CATEGORY</h5>
                </div>
                <div class="links">
                    <ul>
                        <li>Category 1</li>
                        <li>Category 2</li>
                        <li>Category 3</li>
                        <li>Category 4</li>
                    </ul>
                </div>
            </div>
            <div class="group">
                <div class="title">
                    <h5>BOOKS</h5>
                </div>
                <div class="links">
                    <ul>
                        <li>Book 1</li>
                        <li>Book 2</li>
                        <li>Book 3</li>
                        <li>Book 4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-module">
            <div class="module-body">
                    <div class="card">
                            <div class="details">
                                <p class="title">Design and Implementation of Library System</p>
                                <p class="Inst">Federal University of Technology Minna</p>
                                <p class="type">Undergraduate Project</p>
                            </div>
                            <div class="info">
                                <div class="name">Marcus Grant</div>
                                <div class="dept">Computer Science</div>
                            </div>
                        </div>
            </div>
        </div>
    </div>   
</body>
</html>


